MONGO_URI=

PORT=
NODE_ENV=

#JWT
JWT_ACCESS_SECRET=coupon@@secret
JWT_ACCESS_EXPIRATION=60m

# REFRESH JWT
JWT_REFRESH_SECRET=coupon@@refresh202$secret
JWT_REFRESH_EXPIRATION=7d

# OTP JWT
OTP_JWT_ACCESS_SECRET=coupon@@otp2026secret
OTP_JWT_ACCESS_EXPIRATION=5m

# EXPRESS
EXPRESS_SESSION_SECRET=Coupon@@express2026

#BCRYPT
BCRYPT_SALT_ROUND=10

# ADMIN CREDENTIALS
ADMIN_MAIL=example@gmail.com
ADMIN_PASSWORD=password

# FRONTEND URL
FRONTEND_URL=http://example.com
# BACKEND URL
BACKEND_URL=hhttp://example.com
# DEEP LINK
DEEP_LINK=appname://

# CLOUDINARY
CLOUDINARY_SECRET= 
CLOUDINARY_API_KEY=
CLOUDINARY_NAME=

# RATE LIMITING
REQUEST_RATE_LIMIT_TIME=10 # 10min
REQUEST_RATE_LIMIT=100


# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379


# EMAIL
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_FROM=
EMAIL_FROM_NAME=
EMAIL_PASSWORD=
EMAIL_SECURITY=
UNSUBSCRIBE_MAIL=

#GOOGLE (PRODUCTION)
GOOGLE_OAUTH_ID= 
GOOGLE_OAUTH_SECRET= 
GOOGLE_CALLBACK_URL= 
GOOGLE_IOS_CLIENT_ID= 
GOOGLE_ANDROID_CLIENT_ID=


# APPLE CREDENTIALS (PRODUCTION)
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=

APPLE_IOS_CLIENT_ID= 
APPLE_WEB_CLIENT_ID=
APPLE_WEB_REDIRECT_URI=


# FIREBASE (PRODUCTION)
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL= 
CLIENT_ID= 
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=
UNIVERSE_DOMAIN=googleapis.com

# GOOGLE SERVICE ACCOUNT FOR GOOGLE PLAY VALIDATOR
GOOGLE_SERVICE_ACCOUNT=`{
  "type": "",
  "project_id": "",
  "private_key_id": "",
  "private_key": "
  "client_email": "",
  "client_id": "",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "",
  "universe_domain": "googleapis.com"
}`

# STRIPE KEY
STRIPE_SECRET_KEY= 
STRIPE_WEBHOOK_SECRET=

# GOOGLE GEOCODING (for admin city seeding)
GOOGLE_GEOCODING_API_KEY=

